//This fixes nf-core launch error: roject <project-name> is currently stickied on revision: main 
manifest.defaultBranch = "main"


// Global default params, used in configs
params {
  SAMPLEFILE = null
  sangerID = null
  //generates unique timestamp used as a directory for storing results and reports within
  timestamp = (new Date()).getTime()
  h5_on_irods = "yes"
  input_matrix = "no"
  gene_tag = "Gene" //change to "GeneFull" for single nuclei data
  qc_mode = 1
  cells = 5000
  droplets = 15000
  epochs = 150
  fpr = 0.01
  learn = 0.0001
  HELP = false
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs --nv' //--nv enables nvidia GPU support
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  withName: email_startup {
    cpus = 1
    memory = 4.GB
    queue = 'normal'
  }
  withName: get_data {
    cpus = 1 
    memory = 4.GB
    queue = 'normal'
    maxForks = 5
  }
  withName: run_cellbender {
    container = '/nfs/cellgeni/singularity/images/cellbender0.2.2-pytorch1.11-cuda11.3.1-R4.1.3.sif'
    cpus = 8
    memory = 50.GB
    queue = 'gpu-cellgeni-a100'
    clusterOptions = { ' -gpu "mode=shared:j_exclusive=no:gmem=32000:num=1"' }
    maxForks = 5
  }
  withName: cellbender_qc {
    container = '/nfs/cellgeni/singularity/images/cellbender0.2.2-pytorch1.11-cuda11.3.1-R4.1.3.sif'
    cpus = 1
    memory = 8.GB
    queue = 'normal'
  }
  withName: email_finish {
    cpus = 1
    memory = 4.GB
    queue = 'normal'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "/lustre/scratch126/cellgen/cellgeni/tickets/nextflow-tower-results/${params.sangerID}/${params.timestamp}/cellbender-reports/timeline.html"
}

report {
   enabled = true
   file = "/lustre/scratch126/cellgen/cellgeni/tickets/nextflow-tower-results/${params.sangerID}/${params.timestamp}/cellbender-reports/report.html"
}

trace {
   enabled = true
   file = "/lustre/scratch126/cellgen/cellgeni/tickets/nextflow-tower-results/${params.sangerID}/${params.timestamp}/cellbender-reports/trace.txt"
}

// Ensures work directories and removed when pipeline completes
//cleanup = true
