//This fixes nf-core launch error: project <project-name> is currently stickied on revision: main 
manifest.defaultBranch = "main"
nextflow.enable.moduleBinaries = true


// Global default params, used in configs
params {
  // Process-specific parameters
  output_dir       = "cellbender-results"
  publish_mode     = 'copy'

  // Required parameters
  sample_table     = null

  // Optional parameters
  help             = false
  version          = "0.3"
  on_irods         = false
  qc_mode          = 3
  estimator        = "mckp"
  exclude_features = ""
  cells            = ""
  droplets         = ""
  epochs           = ""
  fpr              = ""
  lr               = ""
  min_umi          = ""
  mapper_preset    = false
  starsolo_mapper  = "GeneFull"
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir    = '/nfs/cellgeni/singularity/images/'
  runOptions  = '-B /lustre,/nfs'
  pullTimeout = '100m'
}

// Configuring LSF job submission parameters for each process
executor {
  name           = 'lsf'
  perJobMemLimit = true
}

process {

  errorStrategy = 'retry'
  maxRetries    = 5

  withName: LoadFromIrods {
    cpus     = { 1 * task.attempt }
    memory   = { 2.GB * task.attempt }
    array    = 100
    queue    = 'transfer'
    maxForks = 5
  }
  withName: RemoveBackground {
    container        = "docker://quay.io/cellgeni/cellbender:${params.version}"
    clusterOptions   = ' -gpu "mode=shared:j_exclusive=no:gmem=6000:num=1"'
    containerOptions = '--nv'
    cpus             = { 2 * task.attempt }
    memory           = { 30.GB * task.attempt }
    queue            = 'gpu-normal'
    array            = 5
    maxForks         = 5
    publishDir       = [
      path: "${params.output_dir}",
      mode: "${params.publish_mode}",
    ]
  }
  withName: CELLBENDER_REMOVEBACKGROUND {
    ext.version         = params.version.toString()
    ext.starsolo_mapper = params.starsolo_mapper
    ext.mapper_preset   = params.mapper_preset
    ext.expected_cells  = params.cells
    ext.total_droplets  = params.droplets
    ext.umi_threshold   = params.min_umi
    ext.args            = {
      [
        params.exclude_features == "All" && task.ext.version == "0.2" ? "--exclude-antibody-capture" : '',
        params.exclude_features && task.ext.version == "0.3" ? "--exclude-feature-type ${params.exclude_features}" : '',
        params.estimator && task.ext.version == "0.3" ? "--estimator ${params.estimator}" : '',
        params.epochs ? "--epochs ${params.epochs}" : '',
        params.fpr ? "--fpr ${params.fpr}" : '',
        params.lr ? "--learning-rate ${params.lr}" : '',
      ].join(' ')
    }
    clusterOptions      = ' -gpu "mode=shared:j_exclusive=no:gmem=6000:num=1"'
    containerOptions    = '--nv'
    cpus                = { 2 * task.attempt }
    memory              = { 30.GB * task.attempt }
    queue               = 'gpu-normal'
    publishDir          = [
      path: { "${params.output_dir}/" },
      mode: "${params.publish_mode}",
    ]
  }
  withName: QualityControl {
    ext.qc_mode = params.qc_mode
    container   = "docker://quay.io/cellgeni/cellbender:${params.version}"
    cpus        = { 2 * task.attempt }
    memory      = { 8.GB * task.attempt }
    queue       = 'normal'
    publishDir  = [
      path: { "${params.output_dir}/" },
      mode: "${params.publish_mode}",
      pattern: "qc_report",
    ]
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
  enabled   = true
  file      = "execution-reports/timeline.html"
  overwrite = true
}

report {
  enabled   = true
  file      = "execution-reports/report.html"
  overwrite = true
}

trace {
  enabled   = true
  file      = "execution-reports/trace.txt"
  overwrite = true
}

// Unscoped options
cleanup = true
workDir = "nf-work"

// Manifest
manifest {
  name            = 'cellgeni/nf-irods-to-fastq'
  homePage        = 'https://github.com/cellgeni/nf-irods-to-fastq'
  description     = "Nextflow pipeline to pull .cram files from iRODS"
  mainScript      = 'main.nf'
  nextflowVersion = '!>=25.04.4'
  version         = '24-326'
  defaultBranch   = 'main'
  contributors    = [
    [
      name: 'Simon Murray',
      github: 'just-simon-5',
      contribution: ['author'],
    ],
    [
      name: 'Aljes Binkevich',
      email: 'ab76@sanger.ac.uk',
      github: 'claptar',
      contribution: ['maintainer', 'contributor'],
    ],
    [
      name: 'Batuhan Cakir',
      email: 'bc8@sanger.ac.uk',
      github: 'cakirb',
      contribution: ['contributor'],
    ],
    [
      name: 'Pavel Mazin',
      email: 'pm19@sanger.ac.uk',
      github: 'iaaka',
      contribution: ['contributor'],
    ],
    [
      name: 'Martin Prete',
      email: 'martin.prete@sanger.ac.uk',
      github: 'prete',
      contribution: ['contributor'],
    ],
  ]
}
